{% extends 'base.html.twig' %}
{% block body %}
    <body class="app sidebar-mini">
    <!-- Navbar -->
    <header class="app-header"><a class="app-header__logo" href="/">Procost</a>
        <a class="app-sidebar__toggle" href="" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search">
                <a href="login.html" class="btn btn-info">Se déconnecter</a>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="{{ asset('img/user.jpg') }}" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">John Doe</p>
                <p class="app-sidebar__user-designation">Manager</p>
            </div>
        </div>
        {% set current_route = app.request.attributes.get('_route') %}
        <ul class="app-menu">
            <li>
                <a class="app-menu__item" href="/">
                    <i class="app-menu__icon fa fa-dashboard"></i>
                    <span class="app-menu__label">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item {{ current_route is same as('list_project') or
                current_route is same as('create_project') or
                current_route is same as('modify_project')
                ? 'active' }}"
                   href={{ path('list_project') }}>
                    <i class="app-menu__icon fa fa-laptop"></i>
                    <span class="app-menu__label">Projects</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item {{ current_route is same as('list_employ') ? 'active' }}"
                   href={{ path('list_employ') }}>
                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">Employs</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item {{ current_route is same as('list_job') ? 'active' }}"
                   href={{ path('list_job') }}>
                    <i class="app-menu__icon fa fa-book"></i>
                    <span class="app-menu__label">Jobs</span>
                </a>
            </li>
        </ul>
    </aside>
    {% block content %}{% endblock %}
    </body>
    <footer class="main-footer">
        &copy; 2020 - PROCOST
    </footer>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
{% endblock %}
